.about {
  &__header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em 0;
  }

  &__emma {
    margin-right: 100px;
  }

  &__rose {
    margin-left: 100px;
  }

  &__intro-grid {
  }

  &__main-img {
  }

  &__sub-img {
    max-width: 85%;
    max-height: calc(85vw);
    margin: 0 auto;
  }

  &__intro-text {
    width: 85%;
    margin: 0 auto;
    padding: 2em 0;
  }

  &__contact-section {
    padding-top: 2em;
  }
}

@media screen and (min-width: 620px) {
  .about {
    &__sub-img {
      max-width: 50%;
      max-height: calc(50vw);
    }
  }
}

@media screen and (min-width: 1020px) {
  .about {
    &__intro-grid {
      display: grid;
      height: calc(100vh - 176px);
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      justify-content: flex-end;
    }

    &__intro-text {
    }

    &__main-img {
      grid-row: 1 / -1;
    }
    &__sub-img {
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      min-width: 150px÷;
    }
  }
}
