.about {
  &__header-text {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    & > h1 {
      text-transform: uppercase;
    }
  }

  &__sub-img {
    max-width: 85%;
    max-height: calc(85vw);
    margin: 0 auto;
  }

  &__intro-text {
    width: 85%;
    margin: 0 auto;
    padding: 2em 0;
  }

  &__contact-section {
    padding-top: 2em;
  }
}

@media screen and (min-width: 620px) {
  .about {
    &__sub-img {
      max-width: 50%;
      max-height: calc(50vw);
    }
  }
}

@media screen and (min-width: 1020px) {
  .about {
    &__intro-grid {
      display: grid;
      height: calc(100vh - 120px);
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      justify-content: flex-end;
    }

    &__main-img {
      grid-row: 1 / -1;
    }

    &__intro-text {
      align-self: center;
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      min-width: 150px;
    }
  }
}
