.FeaturedImageBannerS { 
  &__container { 
    max-height: 400px;   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 3em 0; 
  }
}

.img { 
  max-height: 400px;
}