@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root{
  --mainbg: #1B1B1B;
  /* --primary: #F0EAD6; */
  --primary: #F0EAD6;
  --secondary: #F7BCBB;
  --highlight: #D3827F;
}

body {
  background: var(--mainbg);
  color: var(--primary);
  font-family: 'Poppins', sans-serif !important;
  /* overflow: hidden; */
  padding-top: 57px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
  }

.border-bottom{
  border-bottom: 1px solid var(--primary) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--primary);
  text-transform: uppercase;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color:var(--primary);
}

.navbar-nav > li {
  padding-left:15px;
  padding-right:15px;
}

.container-hero { 
  /* background-color: red; */
  padding-top: 12vh;
  padding-bottom: 12vh;
}

/* Material Icons Font Options */ 
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.primary { color: #F0EAD6}
.material-icons.secondary { color: #F7BCBB}
.material-icons.highlight { color: #D3827F}