@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');

:root{
  --mainbg: #1B1B1B;
  --primary: #BB9847;
  --secondary: #909090;
}

body {
  background: var(--mainbg);
  color: var(--primary);
  font-family: 'Poppins', sans-serif !important;
  /* font-family: Open Sans !important;  */
}

.border-bottom{
  border-bottom: 1px solid #BB9847 !important;

}

.navbar-dark .navbar-nav .nav-link{
  color: var(--primary);
  
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color:var(--primary);
}

.navbar-nav > li{
  padding-left:15px;
  padding-right:15px;
}