.svg-hero-container {
  /* margin-top: 30%; */
  /* background-color: red;  */
  top: -50%;
  width: 100%;
  height: 0;
  /* padding-top: 250px; */
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.hero {
  background-size: cover;
  /* padding-top: 15vh; */
  /* padding-bottom: 6vh; */
  padding: 2rem 2rem;

  /* CSS Grid */ 
  display: grid;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  grid-template-columns: minmax(320px, 55vw);
  grid-template-rows: 100px 230px;
}

.hero-grid-item {
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: yellow;
}

#t {
  background-color: yellow;
  /* padding-top: 40px; */
}

#t2 {
  background-color: green;
  /* padding: 40px; */
} 

#hero-text {
  position: absolute;
  /* top: 40%; */
  /* left: 50%; */
  /* width: 300px; */
  /* transform: translate(-50%,-50%); */
}

#hero-text > g > path {
  opacity: 0; 
}

#hero-rose-logo {
  /* position: absolute; */
  /* top: 60%; */
  /* left: 50%; */
  /* width: 400px; */
  /* transform: translate(-50%,-50%); */
}

#hero-rose-logo > g > path {
  opacity: 0; 
}
@keyframes line-anim{
  from { 
    opacity: 0;
  } to {
    opacity: 1;
  }
  to{ 
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from{
    fill: transparent; 
  }
  to{ 
    fill: #F0EAD6;
  }
}