.footer__container { 
  width: 100%; 
  background: var(--highlight); 
  height: 57px; 
  margin-top: 2rem;;
}

.footer__content-wrapper { 
  height: 57px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.footer__bar { 
  width: 250px; 
  height: 3px; 
  border-radius: 25px; 
  background: var(--primary);
}