.sh-container { 
  margin: 0 auto; 
  width: 70%; 
  min-width: 200px; 
  /* background: yellow;  */
}

.sh-container > h1 { 
  text-align: center; 
}

.bar { 
  margin: 0 auto; 
  width: 100%;
  min-width: 200px;
}

.content { 
  text-align: center; 
  max-width: 70%; 
  min-width: 60%; 
  margin: 0 auto; 
  margin-top: 2rem; 
}