.icon-container { 
  margin: 0 auto; 
  margin-top: 2rem;
  margin-bottom: 2rem; 
  display: flex; 
  justify-content: space-between; 
  list-style-type: none; 
  width: 60%; 
  max-width: 300px; 
}

.icon { 
  flex: auto; 
}

